@model List<Projet.Models.Enfant>

<div class="container mt-4">
    <p>Nombre d'éléments en favoris: <strong>@Model.Count</strong></p>

    @if (Model.Count > 0)
    {
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-gray-bg">
                        <thead class="thead-dark">
                            <tr>
                                <th>Entité Parent</th>
                                <th>Entité Enfant</th>
                                <th>Image</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                    @foreach (var enfant in Model)
                    {
                                        <tr>
                                            <td>@enfant.IdParent</td>
                                            <td><a href="detail.html">@enfant.Nom</a></td>
                                            <td>
                                                        <img class="img-fluid" src="@enfant.ImagePath" alt="@enfant.Nom"
                                                     onerror="this.onerror=null; this.src='~/img/default-image.png';">
                                            </td>
                                            <td>
                                                <form onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet enfant des favoris?');"
                                                      action="/Favoris/SupprimerUnEnfant" method="post">
                                                    <input type="hidden" name="id" value="@enfant.EnfantId">
                                                    <button type="submit" class="btn btn-link">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                    }
                        </tbody>
                    </table>
                </div>
    }
    else
    {
                <p>Aucun élément en favori pour le moment.</p>
    }
</div>
